:root{
    /*text*/
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /*background gradiente*/
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /*neutral text*/
    --very-dark-grayish-blue: hsl(237,12%,33%);
    --dark-grayish-blue: hsl(240,6%,50%);
    /* Dividers*/
    --light-grayish-blue: hsl(240,5%,91%)
    /*fonte*/
    --kumbh: 'Kumbh Sans',sans-serif;
}
/*base*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
 

@font-face{
    font-family: 'Kumbh Sans';
    font-weight: 400;
    src:url('../fonts/KumbhSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Kumbh Sans';
    font-weight: 700;
    src:url('../fonts/KumbhSans-Bold.ttf') format('truetype');
}


body{
    font-size: 12px;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    font-family: var(--kumbh);
    padding-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}
.main{ 
    width: 87%;
    max-width: 920px;
    min-width: 326px;
    position: relative;

}
.faq{
    margin-top: 8rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 2rem 2rem rgba(29,30,53, .3);
    background: #fff url(../images/bg-pattern-mobile.svg) no-repeat center 0;
}
.faq__mulher{
    display: block;
    height: 90px;
}
.img-caixa{
    display: none;
    position: absolute;
    left: -90px;
    top: 180px;
    z-index: 10;
}
.faq__mulher-desktop{
    position: relative;
    bottom: 135px;
    right: 8px;
}
.faq__titulo{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.faq__pergunta{
    border-bottom: 1px solid var(--light-grayish-blue);
    position: relative;
}
.faq__pergunta:last-child{
    margin-bottom: 1.5rem;
}






.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}