h1{
    text-align: center;
}
.primeira-Pergunta{

}
.primeira-Resposta{

}
.segunda-Pergunta{
    

}
.segunda-Resposta{

}








.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}